body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body a {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style-type: none;
}


.banner-background {
    position:relative;
    background: url("./assets/images/background.jpg") no-repeat;
    background-size: auto;
    min-height: 835px;
    z-index: 999;
    padding-top: 30px;
}
